# Week 8: Working with Databases in Python

Welcome to Week 8 of your Python learning journey! This week, you'll learn how to work with databases using **SQLite** and **SQLAlchemy**. You'll create tables, insert and query data, and build a mini project to reinforce your skills.

## Lesson 1: Introduction to SQLite
SQLite is a lightweight, disk-based database that doesn‚Äôt require a separate server process. It‚Äôs built into Python via the `sqlite3` module.

In [ ]:
import sqlite3

# Create a connection to a new SQLite database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create a simple table
cursor.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

# Insert some data
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Alice", 30))
conn.commit()

# Query the data
cursor.execute("SELECT * FROM users")
print(cursor.fetchall())

# Close the connection
conn.close()

### üß™ Exercise 1
Create a new table called `products` with columns `id`, `name`, and `price`. Insert two products and query them.

## Lesson 2: Introduction to SQLAlchemy
SQLAlchemy is a powerful ORM (Object Relational Mapper) that allows you to interact with databases using Python classes instead of SQL statements.

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Create an engine and base class
engine = create_engine('sqlite:///sqlalchemy_example.db')
Base = declarative_base()

# Define a Product class
class Product(Base):
    __tablename__ = 'products'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    price = Column(Float)

# Create the table
Base.metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Add a new product
new_product = Product(name="Laptop", price=999.99)
session.add(new_product)
session.commit()

# Query the product
for product in session.query(Product):
    print(product.id, product.name, product.price)

### üß™ Exercise 2
Using SQLAlchemy, define a new table called `Customer` with columns `id`, `name`, and `email`. Add two customers and query them.

## üß† Quiz
Answer the following questions:

1. What is the difference between SQLite and SQLAlchemy?
2. How do you create a table using SQLAlchemy?
3. What does ORM stand for and why is it useful?

## üõ†Ô∏è Mini Project: Bookstore Inventory
Create a small database for a bookstore using SQLAlchemy. Your database should include:
- A `Book` table with `id`, `title`, `author`, and `price`
- A `Customer` table with `id`, `name`, and `email`
- Insert at least 3 books and 2 customers
- Query all books and customers

Bonus: Add a `Purchase` table to track which customer bought which book.